---
import { getMainPost } from "../lib/posts/get-main-post.util"

const mainPost = await getMainPost()

const classes = {
    container : "flex",
    header: {
        container: "",
        text: "font-raleway text-xl md:text-2xl"
    }
}
---

<section class={classes.container}>
    <div class={classes.header.container}>
        <h2 class={classes.header.text}>Recent Posts</h2>
    </div>
</section>