---
const classes = {
    container : "flex ",
    header: {
        container: "",
        text: "flex flex-"
    }
}

---

<section class={classes.container}>
    <div class={classes.header.container}>
        <h2 class={classes.header.text}>Recent Posts</h2>
    </div>
</section>