---
import { colorsWithOpacity } from '../../lib/utils/colors.util'
import type { PickColor } from '../../lib/utils/colors.util'

const keys = Object.keys(colorsWithOpacity)

const randomColorKey = keys[Math.floor(Math.random() * keys.length)]

const color = colorsWithOpacity[randomColorKey as PickColor]

interface Props {
  text: string
}

const { text } = Astro.props as Props

const classes = {
  tag: 'text-s font-semibold bg-accent-pink-light px-2 rounded-md'
}
---

<span
    data-color={randomColorKey}
    class={classes.tag}
    style={{
        color : color.text,
        backgroundColor : color.bg,
    }}
>{text}</span>
