---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import MarginPage from '../components/atoms/MarginPage.astro'

interface Props {
  title: string
  description: string
  lang?: string
}

const { title, description, lang } = Astro.props as Props

const classes = {
  body: 'bg-primary-ligth text-primary-dark dark:bg-primary-dark dark:text-primary-ligth'
}
---

<!doctype html>
<html lang={lang ?? "en"}>
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class={classes.body}>
        <MarginPage>
            <Header />
            <main>
                <slot />
            </main>
            <Footer />
        </MarginPage>
    </body>
</html>
